<p>Mix 'n Match Monster Masher</p>

<p>Click on the right or left arrows to cycle through choices</p>

<button  id='topRowLeft' ng-click='clickThrough($event)'>left arrow</button> 
	<span>{{topImage}}</span>
<button id='topRowRight' ng-click='clickThrough($event)'>right arrow</button><br>
<button id='middleRowLeft' ng-click='clickThrough($event)'>left arrow</button>
	<span>{{middleImage}}</span>
<button id='middleRowRight' ng-click='clickThrough($event)'>right arrow</button><br>
<button id='bottomRow' ng-click='clickThrough($event)'>left arrow</button> 
	<span>{{bottomImage}}</span>
<button id='bottomRowRight' ng-click='clickThrough($event)'>right arrow</button><br>
<button ng-click='saveImage()'>Save</button><button ng-click='resetImages()'>Reset</button>

