<p>Mix 'n Match Monster Masher</p>

<p>Click on the right or left arrows to cycle through choices</p>

<button id='topRow' ng-click='clickThrough($event)'>left arrow</button> <span>{{top[1]}}</span> right arrow <br>
<button id='middleRow' ng-click='clickThrough($event)'>left arrow</button> <span>{{middle[1]}}</span> right arrow <br>
<button id='bottomRow' ng-click='clickThrough($event)'>left arrow</button> <span>{{bottom[1]}}</span> right arrow <br><br>
<button>Save</button><button>Reset</button>

